.sendSuccess{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.3);
    top:0;
    right: 0;
    display:flex;
    justify-content: center;
    align-items:center;

}

.sendSuccess > div {
    width: 100px;
    height: 100px;
    background-color: rgb(49, 233, 73);
    border-radius: 50%;
}

.sendSuccess > div span{
    display: block;
    width: 13px;
    height: 30px;
    background-color: white;
    transform:  translateX(22px)  translateY(50px) rotate(-45deg);
}

.sendSuccess > div span:last-child{
    height: 70px;
    background-color: white;
    transform: translateX(53px)  translateY(-9px) rotate(45deg);
}